/* domastic.html */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'NanumSquare', sans-serif !important;
  background: url(../images/bar.png) no-repeat;
}
#wrap{
  width: 1024px;
  margin: 0 auto;
}
header{
  height: 160px;
  display: inline-block;
  /* padding: 5px; */
}
header #searchBook{
  width: 360px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: white;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
header #searchBook input{
  width: 300px;
  height: 17px;
  text-indent: 1em;
  border: none;
  float: left;
}
header #searchBook input:focus{
  outline: none;
}
header #searchBook button{
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: -5px;
}

header #subMenu{
  width: 350px;
  height: 50px;
  float: right;
}
header #subMenu ul{
  margin-top: 10px;
}
header #subMenu li{
  list-style: none;
  width: 100px;
  margin-right: 10px;
  float: left;
  text-align: center;
  line-height: 30px;
  padding-left: 20px;
  display: block;
}
header #subMenu li a{
  color: white;
}
header #subMenu li.bg1{
  background-image: url("../images/logIn.png");
  background-repeat: no-repeat;
}
header #subMenu li.bg2{
  background-image: url("../images/signUp.png");
  background-repeat: no-repeat;
}
header #subMenu li.bg3{
  background-image: url("../images/shoppingList.png");
  background-repeat: no-repeat;
}
header #subMenu li:last-child{
  margin-right: 30px;
}
#title{
  clear: both;
  height: 70px;
  margin-top: 10px;
  padding-top: 10px;
}
#title h1{
  text-align: center;
}
header nav{
  height: 30px;
  padding: 0 57px;
}
header nav ul{
  height: 30px;
}
header nav ul li{
  list-style: none;
  float: left;
  width: 130px;
  line-height: 30px;
  text-align: center;
}
header nav li a{
  display: block;
  height: 30px;
  color: black;
}
header nav li a:hover{
  background-color: #323e56;
  color: white;
}
/* header 끝 */

/* banner 시작 */
#banner{
  height: 500px;
  margin-bottom: 80px;
  background: url(../images/domastic_banner_newbook_1.png) no-repeat;
}

/* bigmenu 시작 */
#bigMenu{
  height: 50px;
  padding-top: 20px;
  margin-bottom: 50px;
}
#bigMenu ul{
  list-style: none;
  width: 500px;
  display: flex;
  margin: 0 auto;
}
#bigMenu ul li{
  width: 90px;
  height: 30px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
}
#bigMenu ul li:first-child{
  margin-left: 5px;
}
#bigMenu ul li:last-child{
  margin-right: 5px;
}
#bigMenu ul li a{
  width: 90px;
  height: 30px;
  display: inline-block;
  color: black;
}
#bigMenu ul li a:hover,
#bigMenu ul li a.selected{
  color: #ee3d96;
  font-weight: bold;
}
#smallMenu{
  width: 964px;
  height: 50px;
  background-color: #ccc;
  border-radius: 25px;
  margin: 0 auto;
  overflow: hidden;
}
#smallMenu ul{
  list-style: none;
  display: flex;
  height: 50px;
  padding: 10px 0;
  justify-content: center;
}
#smallMenu ul li{
  height: 30px;
  width: 120px;
  border-right: 1px solid rgb(156, 156, 156);
  text-align: center;
  line-height: 30px;
}
#smallMenu ul li:last-child{
  border-right: none;
}
#smallMenu ul li a{
  height: 30px;
  width: 120px;
  color: black;
}
#bookList{
  margin-top: 100px;
  padding: 0 30px;
  height: 1620px;
}
#bookList ul{
  width: 467px;
  list-style: none;
}
#bookList ul.ul_right{
  float: left;
}
#bookList ul.ul_left{
  float: right;
}
#bookList ul .smallthum{
  width: 467px;
  height: 200px;
}
#bookList ul .bigthum{
  width: 467px;
  height: 450px;
}
#bookList ul li{
  margin-bottom: 30px;
  text-indent: -9999px;
}
#bookList ul li:last-child{
  margin-bottom: 0;
}
#bookList .ul_right .smallthum a{
  width: 467px;
  height: 200px;
  display: block;
}
#bookList .ul_right .bigthum a{
  width: 467px;
  height: 450px;
  display: block;
}
.thum1{
  background: url(../images/domastic_thum1.png) no-repeat;
}
.thum1:hover{
  background: url(../images/domastic_thum1_hover.png) no-repeat;
}
.thum2{
  background: url(../images/domastic_thum2.png) no-repeat;
}
.thum2:hover{
  background: url(../images/domastic_thum2_hover.png) no-repeat;
}
.thum3{
  background: url(../images/domastic_thum3.png) no-repeat;
}
.thum3:hover{
  background: url(../images/domastic_thum3_hover.png) no-repeat;
}
.thum4{
  background: url(../images/domastic_thum4.png) no-repeat;
}
.thum4:hover{
  background: url(../images/domastic_thum4_hover.png) no-repeat;
}
.thum5{
  background: url(../images/domastic_thum5.png) no-repeat;
}
.thum5:hover{
  background: url(../images/domastic_thum5_hover.png) no-repeat;
}
.thum6{
  background: url(../images/domastic_thum6.png) no-repeat;
}
.thum6:hover{
  background: url(../images/domastic_thum6_hover.png) no-repeat;
}
.thum7{
  background: url(../images/domastic_thum7.png) no-repeat;
}
.thum7:hover{
  background: url(../images/domastic_thum7_hover.png) no-repeat;
}
.thum8{
  background: url(../images/domastic_thum8.png) no-repeat;
}
.thum8:hover{
  background: url(../images/domastic_thum8_hover.png) no-repeat;
}
.thum9{
  background: url(../images/domastic_thum9.png) no-repeat;
}
.thum9:hover{
  background: url(../images/domastic_thum9_hover.png) no-repeat;
}
.thum10{
  background: url(../images/domastic_thum10.png) no-repeat;
}
.thum10:hover{
  background: url(../images/domastic_thum10_hover.png) no-repeat;
}

#bookList .ul_right .bigthum a{
  width: 467px;
  height: 450px;
}



#nextBtn{
  height: 30px;
  width: 348px;
  margin: 100px auto;
}
#nextBtn a{
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #999;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: bold;
  font-size: small;
}
#nextBtn a:nth-child(1), a:nth-child(6){
  margin-right: 30px;
}
footer{
  clear: both;
  margin-top: 100px;
  background: url(../images/footer_bg.png) no-repeat;
  padding: 0 30px;
}
#footCompany{
  border-top: 1px solid #aaa;
  padding-top: 45px;
  height: 190px;
}
#footCompany #title{
  width: 220px;
  margin-left: 60px;
  float: left;
}
#footCompany #company{
  width: 220px;
  float: left;
}
#footCompany dt{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 15px;
  color: #555;
}
#footCompany dd{
  font-size: small;
  line-height: 1.8em;
}
#footCompany a{
  text-decoration: none;
  color: #555;
}

#footCompany #info{
  width: 280px;
  float: left;
}
footer #sns ul{
  width: 180px;
  height: 50px;
  float: left;
  list-style: none;
}
footer #sns ul li{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}
#address{
  margin-top: 40px;
  font-size: 12px;
  color: #555;
  text-align: center;
  padding-bottom: 30px;
}
