/* index.html */


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
body{
  font-family: 'NanumSquare', sans-serif !important;
  background: url(../images/bar.png) no-repeat;
}
.inner{
  width: 1024px;
  margin: 0 auto;
}
.clearfix:after{
  clear: both;
  content: "";
  display: block;
}
a.btn{
  background-color: #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  color: white;
}
.btn:hover{
  background-color: #555;
  color: white;
}


#wrap{
  width: 100%;
}
header{
  width: 100%;
}
header{
  height: 160px;
  display: inline-block;
  /* padding: 5px; */
}
header #searchBook{
  width: 360px;
  height: 40px;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 20px;
  background-color: white;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 5px;
}
header #searchBook input{
  width: 300px;
  height: 17px;
  text-indent: 1em;
  border: none;
  float: left;
}
header #searchBook input:focus{
  outline: none;
}
header #searchBook button{
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  margin-top: -5px;
}

header #subMenu{
  width: 350px;
  height: 50px;
  float: right;
}
header #subMenu ul{
  margin-top: 10px;
}
header #subMenu li{
  list-style: none;
  width: 100px;
  margin-right: 10px;
  float: left;
  text-align: center;
  line-height: 30px;
  padding-left: 20px;
  display: block;
}
header #subMenu li a{
  color: white;
}
header #subMenu li.bg1{
  background-image: url("../images/logIn.png");
  background-repeat: no-repeat;
}
header #subMenu li.bg2{
  background-image: url("../images/signUp.png");
  background-repeat: no-repeat;
}
header #subMenu li.bg3{
  background-image: url("../images/shoppingList.png");
  background-repeat: no-repeat;
}
header #subMenu li:last-child{
  margin-right: 30px;
}
#title{
  clear: both;
  height: 70px;
  margin-top: 10px;
  padding-top: 10px;
}
#title h1{
  text-align: center;
}
header nav{
  height: 30px;
  padding: 0 57px;
}
header nav ul{
  height: 30px;
}
header nav ul li{
  list-style: none;
  float: left;
  width: 130px;
  line-height: 30px;
  text-align: center;
}
header nav li a{
  display: block;
  height: 30px;
  color: black;
}
header nav li a:hover{
  background-color: #323e56;
  color: white;
}
#banner{
  width: 100%;
  height: 445px;
  /* overflow: hidden; */
  position: relative;
}
#banner ul.bannerList{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
#banner ul.bannerList li{
  width: 100%;
  height: 445px;
  list-style: none;
}
/* slick-setting */
.slick-list .slick-slide{
  margin: 0px 10px;
}
.slick-list .slick-slide img{
  width: 100%;
}

#banner ul.bannerList li a{
  width: 100%;
  height: 100%;
  display: block;
}

#banner ul.bannerList ul.slick-dots{
  height: auto;
  z-index: 99;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
#banner ul.bannerList ul.slick-dots > li{
  width: 15px;
  height: 15px;
  float: left;
  margin: 5px;
}
#banner ul.bannerList ul.slick-dots li button{
  width: 15px;
  height: 15px;
  background-color: #191d24;
  border-radius: 50%;
  border: none;
  text-indent: -9999px;
  cursor: pointer;
  font-size: 0;
}
#banner ul.bannerList ul.slick-dots li.slick-active button{
  background-color: #fcaf17;
}


#bestSeller{
  width: 100%;
  height: auto;
  padding: 50px;
}
#bestSeller h2{
  text-align: center;
  margin-bottom: 50px;
}
#bestSeller ul{
  width: 100%;
  height: 100%;
  list-style: none;
  position: relative;
}
#bestSeller ul li{
  width: 271px;
  height: 300px;
  margin-right: 20px;
  float: left;    
  background-color: teal;
}
#bestSeller ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
#bestSeller a.btn{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#newBook{
  height: 793px;
  background-color: #ebc502;
  padding: 50px 0;
}
#newBook h2{
  text-align: center;
  margin-bottom: 50px;
}
#newBook ul{
  list-style: none;
  position: relative;
  width: 100%;
  height: 100%;
}
#newBook ul li{
  width: 189px;
  height: 189px;
  background-color: white;
  box-shadow: 3px 3px 3px #aaa;
  border-radius: 30px;
}
#newBook ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
#newBook ul li:nth-child(4){
  width: 377px;
  height: 378px;
}
#newBook ul li:nth-child(5){
  width: 378px;
  height: 189px;
}
#thum_1{
  position: absolute;
  top: 0;
  left: 30px;
}
#thum_2{
  position: absolute;
  top: 189px ;
  left: 219px;
}
#thum_3{
  position: absolute;
  top: 189px ;
  left: 418px;
}
#thum_4{
  position: absolute;
  top: 0 ;
  right: 30px;
}
#thum_5{
  position: absolute;
  top: 388px ;
  left: 30px;
}
#thum_6{
  position: absolute;
  top: 388px ;
  left: 418px;
}
#thum_7{
  position: absolute;
  top: 388px ;
  left: 617px;
}
#newBook a.btn{
  position: absolute;
  right: 70px;
  top: 460px;
}

#galaxy{
  height: 560px;
  background: url("../images/galaxyBanner_bg.png") no-repeat fixed;
  background-size: cover;
}


#banner_2{
  width: 100%;
  height: 524px;
  padding: 100px 0 0 0;
}
#banner_2 ul{
  list-style: none;
}
#banner_2 ul li{
  text-indent: -9999px;
  width: 512px;
  height: 424px;
}
#banner_2 ul li a{
  width: 512px;
  height: 424px;
  display: block;
}
#banner_2 #used{
  background: url(../images/used_bg.png) no-repeat;
  float: left;
}
#banner_2 #used:hover{
  background: url(../images/used_book.png) no-repeat;
}
#banner_2 #eBook{
  width: 512px;
  height: 424px;
  background: url(../images/eBook_bg.png) no-repeat;
  float: left;
}
#goods{
  height: 387px;
  padding: 50px 30px 0 30px;
  position: relative;
}
#goods h2{
  text-align: center;
  margin-bottom: 50px;
}
#goods ul{
  position: relative;
}
#goods li{
  width: 160px;
  height: 160px;
  border-radius: 80px;
  list-style: none;
  margin-right: 18px;
  float: left;
}
#goods ul li a{
  width: 100%;
  height: 100%;
  display: block;
}
#goods li p{
  font-size: small;
  text-align: center;
  margin-top: 170px;
  text-align: center;
}
#goods li{
  text-decoration: none;
  color: black;
}
#goods li:hover{
  text-decoration: none;
  color: #ba3d7b ;
}
#goods .btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#G_thum1{
  background: url(../images/goods_thum1.png) no-repeat;
}
#G_thum2{
  background: url(../images/goods_thum2.png) no-repeat;
}
#G_thum3{
  background: url(../images/goods_thum3.png) no-repeat;
}
#G_thum4{
  background: url(../images/goods_thum4.png) no-repeat;
}
#G_thum5{
  background: url(../images/goods_thum5.png) no-repeat;
}

#offlineShop{
  width: 100%;
  height: auto;
  background: url(../images/offlineShop_bg.png) no-repeat center;
  background-size: 100%;
  background-position-y: 100%;
  padding-top: 50px;
}
#offlineShop h2{
  text-align: center;
  margin-bottom: 50px;
}
#map{
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 25px;
}
#search #box{
  width: 473px;
  height: 50px;
  border: 1px solid #fcdfeb;
  margin: 0 auto;
  padding: 5px;
  border-radius: 15px;
  background-color: white;
}
#box input{
  text-indent: 1em;
  width: 420px;
  height: 40px;
  float: left;
  border: none;
}
#box input:focus{
outline: none;
}
#box button{
  width: 40px;
  height: 38px;
  float: left;
  border: none;
  background-color: white;
}
footer{
  clear: both;
  background: url(../images/footer_bg.png) no-repeat;
  padding: 45px 30px 0 30px;
}
#footCompany{
  border-top: 1px solid #aaa;
  padding-top: 45px;
  height: 190px;
}
#footCompany #title{
  width: 220px;
  margin-left: 60px;
  float: left;
}
#footCompany #company{
  width: 220px;
  float: left;
}
#footCompany dt{
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 15px;
  color: #555;
}
#footCompany dd{
  font-size: small;
  line-height: 1.8em;
}
#footCompany a{
  text-decoration: none;
  color: #555;
}

#footCompany #info{
  width: 280px;
  float: left;
}
footer #sns ul{
  width: 180px;
  height: 50px;
  float: left;
  list-style: none;
}
footer #sns ul li{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}
#address{
  margin-top: 40px;
  font-size: 12px;
  color: #555;
  text-align: center;
  padding-bottom: 30px;
}